<footer>
    <p>
        <!--
        <a href="https://www.pexels.com/video/a-beautiful-beach-with-view-of-horizon-1720219/" target="_blank"
            rel="noopener noreferrer">Video by Engin Akyurt</a>
        -->            
    </p>
</footer>