<footer>
    <p>
        <a href="https://www.pexels.com/video/waves-rushing-and-splashing-to-the-shore-1409899/" target="_blank"
            rel="noopener noreferrer">Video by Michal Marek</a>
    </p>
</footer>