<div class="full-screen-container">

    <video autoplay muted playsinline>
        <source src="videos/engin-akyurt-beach-1920-1080.mp4" type="video/mp4">
    </video>

    <div class="full-screen-content">

        <div class="login-container">

            <div class="page-title">Portal Page</div>

            <form>
                <ul>
                    <li><label for="user_name">User name:</label></li>
                    <li><input type="text" id="user_name" name="user_name" value="John"></li>
                    <li><label for="user_password">Password:</label></li>
                    <li><input type="password" id="user_password" name="user_password" value="Doe"></li>
                    <li><input type="button" id="login" value="Login" /></li>
                    <li id="result"></li>
                </ul>
            </form>
            
        </div>

    </div>

</div>

<script src="js/index.js"></script>