<!--
<div class="full-screen-container">

    <video autoplay muted playsinline loop>
        <source src="video/pexels-engin-akyurt-1720219-1920x1080-25fps.mp4" type="video/mp4">
    </video>

    <div class="full-screen-content">

        <div class="login-container">

            <div class="title-style title-size">Portal Page</div>

            <form>
                <ul>
                    <li><label for="user_name">User name:</label></li>
                    <li><input type="text" id="user_name" name="user_name" value="John"></li>
                    <li><label for="user_password">Password:</label></li>
                    <li><input type="password" id="user_password" name="user_password" value="Doe"></li>
                    <li><input type="button" id="login" value="Login" /></li>
                    <li id="result"></li>
                </ul>
            </form>

        </div>

    </div>

</div>
-->
<div class="login-container">
    <section class="login-first-section">
        <h1 class="login-title">Portal Page</h1>
        <p class="login-description">Welcome to our Wi-Fi network! To access the Internet, please enter the login
            credentials provided. Once
            you're
            connected, you'll be able to browse the web, check email, or catch up on social media. We hope you enjoy
            your
            time
            on our network!</p>
    </section>
    <section class="login-second-section">
        <form class="login-form">
            <p class="login-username">
                <label for="user_name">Username</label>
                <input type="text" name="user_name" id="user_name" required>
            </p>
            <p class="login-password">
                <label for="user_password">Password</label>
                <input type="password" name="user_password" id="user_password" required>
            </p>
            <p class="login-button">
                <input type="button" name="login" id="login" value="Log In">
            </p>
            <p id="result"></p>
        </form>
    </section>
</div>
<script src="js/index.js"></script>