:root {
  --main-color: #616AAB;
  --second-color: #B8BFF5;
  --third-color: #EBC442;
  --forth-color: #A8934C;
  --main-padding: 1rem;
  --main-max-width: 400px;
  --main-font-size-large: large;
  --main-line-height: 1.8rem;
  --main-border-radius: 1rem;
  /*
  --main-border-color: #B8BFF5;
  --main-background-color: #B8BFF5;
  */
}

* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: "Gill Sans", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.full-screen-container {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.full-screen-container video {
  z-index: -1;
  position: absolute;
  height: auto;
  width: auto;
  min-width: 100%;
  min-height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.full-screen-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: center;
}

.full-screen-container {
  width: 100vw;
  height: 100vh;
  /* background: #107896; */
  overflow: hidden;
  position: relative;
}

.full-screen-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.full-screen-container video {
  z-index: -1;
  position: absolute;
  height: auto;
  width: auto;
  min-width: 100%;
  min-height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*
.login-container {
  border-style: solid;
  border-color: aliceblue;
  border-radius: 0.3rem;
  padding: 0.3rem;
  border-width: 0.1rem;
}

.text-style,
.title-style,
.login-container li,
.login-container input,
footer a {
  font-family: "Gill Sans", sans-serif;
  color: white;
}

.text-size,
.login-container li,
.login-container input {
  font-size: large;
}

.title-size {
  font-size: xx-large;
}

.login-container ul {
  list-style: none;
  padding-inline-start: 0;
}

.login-container li {
  margin-top: 0.3rem;
}

.login-container input {
  border-radius: 0.3rem;
  border-style: none;
  background: rgba(0, 0, 0, 0.3)
}

.login-container input[type="button"]:hover,
.login-container input[type="button"]:focus {
  background: rgba(0, 0, 0, 0.5);
  transition: 0.5s;
}
*/

footer {
  position: fixed;
  bottom: 0.5em;
  right: 0.5em;
}

.login-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  padding: var(--main-padding);
}

.login-second-section,
.login-first-section {
  flex-basis: var(--main-max-width);
  padding: 0 0.5rem;
}

.login-first-section {
  background-color: var(--main-color);
  border-radius: var(--main-border-radius);
  color: white;
}

.login-form label{
  color: var(--main-color);
  font-size: var(--main-font-size-large);
  font-weight: 600;
}

.login-form input#login {
  color: white;
  font-size: var(--main-font-size-large);
  font-weight: 600;
  background-color: var(--third-color);
  border-radius: var(--main-border-radius);
  line-height: var(--main-line-height);
  border-style: none;
  transition: 1sec;
}

.login-form input#login:hover {
  cursor: pointer;
}

.login-form input#login:focus {
  background-color: var(--forth-color);
}

.login-form input#user_name,
.login-form input#user_password {
  font-size: var(--main-font-size-large);
  border-radius: var(--main-border-radius);
  line-height: var(--main-line-height);
  border-color: var(--second-color);
  border-style: solid;
  background-color: white;
}

p.login-username,
p.login-password {
  display: grid;
}